body{
    background-image:url("img/Dusty.jpeg");
    background-repeat: none;
    background-attachment: fixed;
    overflow-x:hidden;
  }
  header{
    border: 1px solid white; 
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 80%);
  }
  
  li{
    display:table-cell;
    position:relative; 
    padding: 5px 0;
    right:0;
    width:100%; 
  }
  a{
    color:#fff; 
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 0.15em;
    display: inline block;
    padding: 10px 15px;
    position:relative;
  }
  ul :hover {
    text-decoration:underline;
    left:0;
    width:100%;
  }
  .main{
    height:700px;
    width:80%;
    background-image: url("img/WhatsApp\ Image\ 2023-09-19\ at\ 15.56.21.jpg");
    background-position: center right  ;
    background-repeat: no-repeat;
    padding: 0;
    text-align: center;
    margin-left: 150px;
    margin-top:40px;
    display:inline-block;
    background-size: 80%;
    border-radius: 15px;
  }
  h2,p{
    color:white;
  }
  p{ 
    font-size: large ;
    padding:25px;
    margin:auto; 
  
  }
  .bio{
    width:40%;
    background-color: rgba(128, 128, 128, 95%);
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:1000px;
    display:inline-block; 
    border-radius:15px;
    border: 1px solid black;
  
  }
  .socials{
    align-items: center;
    display:flex; 
    margin-top: 150px;
    margin-bottom:100px;
    margin-left: 100px;
    margin-right:25px; 
  }
  .insta{
    padding:50px; 
  }
  .insta img{
    height:40px;
    width:40px;
  }
  .linkedin {
    border-width:15px;
    width:20px;
    padding:50px;
    
  }
  .portfolio-link {
    text-decoration: none;
    padding:50px;
    
  
  }
  .portfolio-link img {
    width: 30px; 
    height: 30px;
    color:black;
  }
  .google-icon{
    text-align:left; 
    width:30px;
    height:30px;
    
  }
  .google-icon img{
    height:30px;
    width: 30px;
  }
  
  .hidden {
    display: none;
  }
  
  .img2{
    width:40px;
    height:40px;
  }